.size {
    font: 300 1.1rem "Roboto Slab", sans-serif;
}

.size-b {
    font: 500 1.2rem "Roboto Slab", sans-serif;
}


.font-1-300 {
    font: 300 0.8rem "Roboto Slab", sans-serif;
}


.font-1-400 {
    font: 400 1.1rem "Roboto Slab", sans-serif;
}

.font-1-400-s {
    font: 400 0.9rem "Roboto Slab", sans-serif;
}

.font-1-400-m {
    font: 400 1.2rem "Roboto Slab", sans-serif;
}

.font-2 {
    font: 3.5rem "HighSpirited", sans-serif;
}


@font-face {
    font-family: HighSpirited;
    src: url("HighSpirited.ttf");
}

@media(min-width:355px) {
    .font-2 {
        font: 5.5rem "HighSpirited", sans-serif;
    }
}